section{
    display: flex;
    align-items: center;
    height: 100%;
    /* background-image: url(./theme/seoul.jpg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    justify-content: center;
    column-gap: 4vw;
}

.mainleftcontainer{
    display: flex;
    column-gap: 4vw;
    margin-left: 1vw;
}

.dataspotify{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    justify-content: center;
    margin-top: 5vh;
}

.dataresult{
    height: 24vh;
    width: 30vw;
    background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow:0 5px 9px 0 rgba(0,0,0,0.37);
    border: none;
    border-radius: 8px;
}

.musicbox{
    height: 56vh;
    width: 30vw;
}

.mainrightcontainer{
    height: 80vh;
    width: 33vw;
    margin-top: 5vh;
    background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow:0 5px 9px 0 rgba(0,0,0,0.37);
    border: none;
    border-radius: 8px;
}